.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: azure;
}

.navbar{
  border-bottom : 1px solid #ff6a00;
}

.listRecords {
}

body {
  background-color: black;
  color: azure;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ededed;
  text-align: center;
  color: #666;
  border-top : 1px solid #ff6a00;
}


.header-image{
  height: 40px;
}

.textbox:focus {
  border-color: #ff6a00!important;
  box-shadow: 0 0 5px #ff6a00!important;
}

